<a href="https://colab.research.google.com/github/deepanshug77/python_smp/blob/main/python_smp_ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

question 1 part 1

In [1]:
a = 7.3 + 5 + 4j
print(a)
print(type(a))

(12.3+4j)
<class 'complex'>

question 1 part 2

"4e4" and "4E4" are not the same as first is lower case and the other is in upper case

In [2]:
a = "4e4"
a_lower = a.islower()
print(a_lower)

True

In [6]:
b = "4E4"
b_upper = b.isupper()
print(b_upper)

True

question 1 part 3

In [13]:
x=3
y=5
c = complex(x,y);
r = c.real
i = c.imag
print("The real part of complex number is : ",end="")
print(r)
print("The complex part of complex number is : ",end="")
print(i)

The real part of complex number is : 3.0
The complex part of complex number is : 5.0

question 1 part 4

In [14]:
import math
x= math.e
y= math.trunc(x)
print(y)

2

question 2

In [69]:
# passing dictionary as argument
  
  
# A function that takes dictionary
# as an argument
def func(d):
      
    for key in d:
        print("key:", key, "Value:", d[key])
          
# Driver's code
D = {'a':4, 'b':7, 'c':10}
func(D)

key: a Value: 4
key: b Value: 7
key: c Value: 10

question 3 (factorial of a number)

In [16]:
num = int(input("Enter a number: "))  
factorial = 1  
if num < 0:  
   print("Sorry, factorial does not exist for negative numbers")  
elif num == 0:  
   print("The factorial of 0 is 1")  
else:  
   for i in range(1,num + 1):  
       factorial = factorial*i  
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

question 4 (fibonacci series)

In [18]:
n = int(input("Enter the nth value: "))
a = 0
b = 1
sum = 0
print("Fibonacci Series : ", end = " ")
while(sum <= n):
     print(sum, end = " ")
     a = b
     b = sum
     sum = a + b

Enter the nth value: 15
Fibonacci Series :  0 1 1 2 3 5 8 13

question 5

In [36]:
lst = []
 
# number of elemetns as input
n = int(input("Enter number of elements : "))
  
# iterating till the range
for i in range(0, n):
    ele = int(input())
  
    lst.append(ele) # adding the element
      
print(lst)  

psum = 0 
nsum = 0 

for i in range(0, n):
  if lst[i]<0 :
      nsum += lst[i];
  elif lst[i]>0 :
      psum += lst[i];

print("sum of negative numbers",end = " " )
print(nsum)
print("sum of positive numbers",end = " " )
print(psum)

psum_absolute = abs(psum) 
nsum_absolute = abs(nsum)
if psum_absolute>nsum_absolute :
  print("POSITIVE", end = " ")
elif psum_absolute<nsum_absolute :
  print("NEGATIVE", end = " ")

Enter number of elements : 4
-48
56
-5
9
[-48, 56, -5, 9]
sum of negative numbers -53
sum of positive numbers 65
POSITIVE

question 6

In [70]:
a=input('enter string ')
b=''
c=''
e=''
for i in range(0,len(a)):
  if(a[i]=='a' or a[i]=='e' or a[i]=='i' or a[i]=='o' or a[i]=='u' or a[i]=='A' or a[i]=='E' or a[i]=='I' or a[i]=='O' or a[i]=='U'):
    b+=a[i]
  else:
    c+=a[i]

e=b+c
print(str(e))

enter string efhkiulkaa
eiuaafhklk

question 7

In [66]:
# function to print the first m multiple
# of a number n without using loop.

m = int(input("enter the value of m "))
n = int(input("enter the value of n "))

 # inserts all elements from n to 
# (m * n)+1 incremented by n.
multiple = range(n, (m * n)+1, n)
      
print(list(multiple))

enter the value of m 5
enter the value of n 6
[6, 12, 18, 24, 30]